@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'Vazirmatn', sans-serif;
  background-color: #f3f4f6;
  overscroll-behavior: none;
}
/* Hide scrollbar for clean mobile look */
::-webkit-scrollbar {
  width: 0px;
  background: transparent;
}